.child-comment {
	margin: 0 5rem;
	padding-top: 2rem;
}

.root-comment {
	padding: 2rem;
	border-bottom: 0.05rem solid rgba(0, 0, 0, 0.082);
	direction: rtl;
	min-height: 20vh;
}

.root-comment:last-child {
	border-bottom: none;
}
