.articles {
  margin-top: -22.5vh;
}

.articles-container {
  background-color: white;
  margin-top: 2rem;
  border-radius: 0.25rem;
  padding: 1rem;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.329);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}